:host {
  font-size: var(--md-icon-size, 24px);
  width: var(--md-icon-size, 24px);
  height: var(--md-icon-size, 24px);
  color: inherit;
  font-variation-settings: inherit;
  font-weight: 400;
  font-family: var(--md-icon-font, Material Symbols Outlined);
  display: inline-flex;
  font-style: normal;
  place-items: center;
  place-content: center;
  line-height: 1;
  overflow: hidden;
  letter-spacing: normal;
  text-transform: none;
  user-select: none;
  white-space: nowrap;
  word-wrap: normal;
  flex-shrink: 0;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

::slotted(svg) {
  fill: currentColor;
}

::slotted(*) {
  height: 100%;
  width: 100%;
}
